# Week 2 - Monday Lesson (variable assignment, loops, lists)

## Tasks Today:

1) Int & Float assignments <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Assigning int <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Assigning float <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Performing Calculations on ints and floats <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Addition <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Subtraction <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Multiplication <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Floor Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Modulo <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Exponential <br>
2) String Input-Output <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) String Assignment <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) print() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) String Concatenation <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Escape Characters <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Type Conversion <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) format() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) Old Way (python 2) <br>
3) <b>In-Class Exercise #1</b> <br>
4) Booleans <br>
5) If Statements <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) syntax <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) truth tree <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) and/or <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) elif <br>
 &nbsp;&nbsp;&nbsp;&nbsp; 3) else <br>
6) <b>In-Class Exercise #2</b> <br>
7) Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Declaring Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Indexing a List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) .append() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) .insert() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) .pop() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) .remove() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) del() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; h) Concatenating Two Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Lists Within Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; j) Looping Through Lists <br>
8) For Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Using 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Continue Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Break Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Pass Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Double For Loops <br>
9) While Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Looping 'While True' <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) While and For Loops Used Together <br>
10) Built-In Functions <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) input() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) range() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) len() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) help() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) isinstance() <br>
12) Try and Except <br>

### Int & Float Assignments

##### Assigning int

In [1]:
# variable_name = value 

num_int = 6 

print(num_int)
print(type(num_int))

6
<class 'int'>

##### Assinging float

In [2]:
num_float = 6.97358

print(num_float)
print(type(num_float))

6.97358
<class 'float'>

In [3]:
new_num = 6.

print(new_num)
print(type(new_num))

6.0
<class 'float'>

#### Performing Calculations on ints and floats

##### Addition

In [4]:
num1= 2
num2 = 5.0

result = num1 + num2
print(result)
print(type(result))

# int + int = int
# int + float = float
# float + float = float

7.0
<class 'float'>

In [5]:
# short-hand version of adding to an existing variable 
result += 2 # result = result + 2 

print(result)

9.0

##### Subtraction

In [6]:
diff = num2 - num1

print(diff)

# Short-hand
diff -= 2 # diff = diff - 2 
print(diff)

3.0
1.0

##### Multiplication

In [7]:
prod = num1 * num2
print(prod)

# Short-hand
prod *= 2 # prod = prod * 2 

print(prod)

10.0
20.0

##### Division

In [8]:
quotient = 16 / num1  # division will always result in a float 
print(quotient)
print(type(quotient))

# short-hand
quotient /= 2  # quotient = quotient /2 

print(quotient)

8.0
<class 'float'>
4.0

##### Floor Division

In [9]:
# divides two numbers and rounds the result down to the nearest integer

result_floor = 15//2
print(result_floor)

# Short-hand 
result_floor //= 2   # result_floor = result_floor // 2 
print(result_floor)

7
3

##### Modulo

In [10]:
# Returns the remainder after a division problem 

result_mod = 33 % 6
print(result_mod)

# short-hand version
result_mod %= 2 # result_mod % 1 
print(result_mod)

3
1

##### Exponential

In [11]:
square = 5 ** 2 
print(square)

# short-hand version 
square **= 2    # square = square ** 2 
print(square)

25
625

### String Input-Output

##### String Assignment

In [12]:
name1 = "Brian"
print(name1)
print(type(name1))

Brian
<class 'str'>

In [13]:
name2 = 'Brian'
print(name2)
print(type(name2))

Brian
<class 'str'>

In [14]:
contraction1 = "You can't do that"
print(contraction1)

sentence = "He said, I like python"
print(sentence)

You can't do that
He said, I like python

In [15]:
# contraction2 = 'You can't do that 
# print(contraction2)

##### Escape Characters

In [16]:
# Using \ before apostrophe    -    tells python not to treat the apostrophe as end of string 


print('You can\'t do that')

You can't do that

In [17]:
print('Hello 
      how are you?')

SyntaxError: EOL while scanning string literal (3369742325.py, line 1)

In [ ]:
# \ within a line    -    tells python to continue string onto next line 

print('Hello \
      how are you?')

In [ ]:
# \n    new line character

print("Hello \n How are you?")

In [ ]:
# \t   indent whitespace into text 

print("Hello\t how are you?\tI am good\\bad")

In [ ]:
# Raw String - print string as written "literally"

print(r'Hello/thow are you?\tI am good\\bad')

In [ ]:
# Treating multiple lines as a single string    ''' or """"""

new_string = '''
Hellow this a multi-line string
I am writing this on line 2 
and this is all the same string
'''

print(new_string)

##### String Concatenation

In [ ]:
first_name = 'John'
last_name = 'Smith'

full_name = first_name + " " + last_name

print(full_name) 

# Short-hand version 
full_name += ", Jr."    # full_name = full_name + ', Jr.'

print(full_name)

In [ ]:
# can convert num_a to str(num_a) or convert num_b to int(num_b)

num_a = 10
num_b = '10'

# unsupported operand type 
print(num_a + num_b)

# can only concatenate str(not "int") to str
print(num_b + num_a)

##### Type Conversion

In [ ]:
num_b_int = int(num_b)

print(num_b, type(num_b))
print(num_b_int, type(num_b_int))

print(num_a + num_b_int)

In [ ]:
num_a_str = str(num_a)

print(num_a, type(num_a))
print(num_a_str, type(num_a_str))

print(num_a_str + num_b)

##### .format() and f-strings

In [ ]:
name = 'Brian'
home = 'Chicago'

print("Hello my name is {} and I am from {}!" .format(name, home))

In [ ]:
print(f"Hello my name is {name} and I am from {home}!")

##### Old Way (python 2)

In [ ]:
print("Hello my name is %s and I am from %s" % (name, home) )

In [ ]:
result = 10 + 5

print("The result is %i" % result)

# In-Class Exercise 1 <br>
<p>Increase the year by 1 and then print out the following statement</p>

In [ ]:
#OUTPUT:  I drive a blue 2023 Ford Focus.
color = 'blue'
make = 'Ford'
year = '2022'
model = 'Focus'


print(f"I drive a {color} {int(year) + 1} {make} {model}")

### Booleans

In [ ]:
bool_true = True

print(bool_true)
print(type(bool_true))

In [ ]:
bool_false = False
print(bool_false)
print(type(bool))

### If Statements

In [ ]:
# if <expression>:
#     <statement>

if True:
    print('Hello this is True')

In [18]:
if False:
    print('Hello this is false')

In [19]:
print('Start of code')

if True:
    print('Hello')
    print('How are you?')
    print('Good. You?')
    
print('End of code')

Start of code
Hello
How are you?
Good. You?
End of code

In [20]:
# Available operators: Greater(>), Less(<), Equal(==)
# Greater or Equal(>=), Less or Equal (<=), Not Equal (!=)

num1 = 10
num2 = 5
num3 = 2

print(num1 > num2)
print(num1 == num2 * 2)
print(num1 != num3)

True
True
True

In [21]:
str1 = 'apple'
str2 = 'zebra'

print(str1 > str2)

False

In [22]:
if num1> num2:
    print('num1 is greater than num2')

if num1 == num2*2:
    print('num1 is double num2')

num1 is greater than num2
num1 is double num2

## Using 'and'/'or' with If Statements

In [23]:
# Truth Tree:
# T and T = T
# T and F = F
# F and F = F
# T or T = T
# T or F = T
# F or F = F

num1 = 10
num2 = 5
num3 = 2

if num1 > num2 and num2 < num3:
    print('Both expressions are true')
    
    
if num1 > num2 or num2 < num3:
    print('At least one expression is true')

At least one expression is true

### Else Statements

In [24]:
# An else statement runs when the if statement above it evaluates to False

required_height = 60
rider_height = 48


if rider_height >= required_height:
    print('Enjoy the ride!')
else:
    print('Sorry, you are not tall enough to ride :(')

Sorry, you are not tall enough to ride :(

### Elif Statements

In [25]:
# An elif only runs when the if (or elif) directly above it evaluates to False

required_age = 18
with_a_parent = 14

movie_goer_age = 15


if movie_goer_age >= required_age:
    print('Enjoy the film!')
elif movie_goer_age >= with_a_parent:
    print('You must be accompanied by an adult to see this film')
else:
    print('You are not old enough to see this film')

You must be accompanied by an adult to see this film

In [26]:
required_age = 18
with_a_parent = 14

movie_goer_age = 35


if movie_goer_age >= required_age:
    print('Enjoy the film!')
elif movie_goer_age >= with_a_parent:
    print('You must be accompanied by an adult to see this film')
else:
    print('You are not old enough to see this film')

Enjoy the film!

### In-Class Exercise 2 <br>
<p>Write a program that will check a person's age and adjust the ticket price. Regular ticket price is $10. Seniors (65+) get 25 percent off and children (under 0-9) are half off. Print out the ticket price at the end</p>

In [27]:
ticket = 10
# person_age = 72 # Output: Your ticket is $7.50
# person_age = 47 # Output: Your ticket is $10
# person_age = 8 # Output: Your ticket is $5.00


def pricefinder(user_age):
    if user_age < 10:
        price = ticket * 0.50
    elif user_age >= 65:
        price = ticket * 0.75
    else:
        price = ticket
    print("Your ticket price is $" + str(price))
   

        
pricefinder(72)
pricefinder(47)
pricefinder(8)

Your ticket price is $7.5
Your ticket price is $10
Your ticket price is $5.0

### Lists

##### Declaring Lists

In [28]:
l_1 = [] # Empty List Declaration

print(l_1)
print(type(l_1))

names = ['Max','Cindy','Kathy', "Bob","Nate"]

print(names)
print(type(names))

[]
<class 'list'>
['Max', 'Cindy', 'Kathy', 'Bob', 'Nate']
<class 'list'>

In [29]:
a_list = [print]
a_list[0]('Hello world')

Hello world

##### Indexing a List

In [30]:
# list_name [start: stop(opt): step(opt)]
# START is inclusive
# STOP is EXCLUSIVE

#Single Index - a_list[index_num]
print(names[-2])

# Print starting at index 1 going to the end
print(names[1:])

#Print starting at beginning of list to N (n == the number we want to stop at)
print(names[:2])

    # slice from the beginning of a list to the 3rd index
print(names[:3])

# slice from the second element to the 4th element 
print(names[1:4])

# slice every other element in a list 
print(names[::2])

    # print starting at index 1 going up BY 2 in each iteration
print(names[1::2])

# print starting at the back and present in reverse order
print(names[::-1])

Bob
['Cindy', 'Kathy', 'Bob', 'Nate']
['Max', 'Cindy']
['Max', 'Cindy', 'Kathy']
['Cindy', 'Kathy', 'Bob']
['Max', 'Kathy', 'Nate']
['Cindy', 'Bob']
['Nate', 'Bob', 'Kathy', 'Cindy', 'Max']

In [31]:
list1 = [1,2,3,4,5]
list2 = [1,2,3,4,5]
list3 = list1

print(list1)
print(list2)
print(list3)

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]

In [32]:
list2 == list3

True

In [33]:
list1 is list3

True

In [34]:
print(id(list1))
print(id(list2))
print(id(list3))

140339015461888
140339016367616
140339015461888

##### .append()

In [35]:
print(names)

names.append('Brian')

print(names)

['Max', 'Cindy', 'Kathy', 'Bob', 'Nate']
['Max', 'Cindy', 'Kathy', 'Bob', 'Nate', 'Brian']

In [36]:
print(list3)

list3.append(100)
print(list3)

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5, 100]

##### .insert()

In [37]:
# list.insert(index,value)

print(names)
names.insert(3,'Frank')
print(names)

['Max', 'Cindy', 'Kathy', 'Bob', 'Nate', 'Brian']
['Max', 'Cindy', 'Kathy', 'Frank', 'Bob', 'Nate', 'Brian']

##### .pop()

In [38]:
# default is the last value if no parameter is given
# pop returns the element that was removed in case you want to assign it into a variable

removed_item = names.pop()

print(names)
print(removed_item)

['Max', 'Cindy', 'Kathy', 'Frank', 'Bob', 'Nate']
Brian

In [39]:
# list.pop(index_to_remove)

index_one = names.pop(1)

print(names)
print(index_one)

['Max', 'Kathy', 'Frank', 'Bob', 'Nate']
Cindy


##### .remove()

In [40]:
# value to be removed , not index

names = ['max', 'kathy', 'bob', 'frank', 'bob', 'bob']

In [41]:
print(names)

names.remove('bob')
print(names)

['max', 'kathy', 'bob', 'frank', 'bob', 'bob']
['max', 'kathy', 'frank', 'bob', 'bob']

##### del()

In [42]:
# index to be removed, not value
# BE CAREFUL with del, can cause indexing errors if not used carefully


del names[3]
print(names)

['max', 'kathy', 'frank', 'bob']

##### Concatenating Two Lists

In [43]:
# will append two lists together, not add up the elements in each list

l_2 = [1, 2, 3]
l_3 = [4,5,6]

l_4 = l_2 + l_3 

print(l_4)

[1, 2, 3, 4, 5, 6]

In [44]:
my_list = [1, 2, 3]
new_list = my_list * 3 
print(new_list)

[1, 2, 3, 1, 2, 3, 1, 2, 3]

### Lists Within Lists

In [45]:
# Lists are able to hold any type of element, including OTHER lists themsevles
# they can also go as deep as you want, having many lists nested inside of each other

names = ["Max", "Sam","Josh",["Sally","Sue","Tameka"]]

print(names)
print(names[3][1])

['Max', 'Sam', 'Josh', ['Sally', 'Sue', 'Tameka']]
Sue

In [46]:
example = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9],
]

print(example)
example[2].append(10)
print(example)

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]
[[1, 2, 3], [4, 5, 6], [7, 8, 9, 10]]

### For Loops

In [47]:
# for <keyword> in <iterable>:
#     <statement>

my_list = [5, 10, 15, 20, 25, 30]
for x in my_list:
    print (x)

5
10
15
20
25
30

In [48]:
colors = ['red', 'orange', 'yellow', 'green', 'blue', 'indigo', 'violet']

for c in colors:
    print(c)

red
orange
yellow
green
blue
indigo
violet

In [49]:
print('Start the code')

for num in [1,2,3,4,5]:
    print(num)
    print('======')
    
print('End of code')

Start the code
1
======
2
======
3
======
4
======
5
======
End of code

##### Continue Statement

In [50]:
# will continue to next iteration

In [51]:
for num in [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]:
    if num ==5:
        continue
    
    print(num)
    print('break')

1
break
2
break
3
break
4
break
6
break
7
break
8
break
9
break
10
break

In [52]:
for num in [1, 2, 3, 4, 5]:
    print("Hello")
    if num ==3:
        continue
    
    print(num)
    print('Goodbye')

Hello
1
Goodbye
Hello
2
Goodbye
Hello
Hello
4
Goodbye
Hello
5
Goodbye

##### Break Statement

In [53]:
# will break out of current loop

In [54]:
for num in [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]:
    if num ==5:
        break
    
    print(num)

1
2
3
4

##### Pass Statement

In [55]:
# mostly used as a placeholder, and will continue on same iteration

In [56]:
cities = ['Chicago', 'New York', 'Los Angeles']

for city in cities:
    if city == 'New York':
        # come back to do later
        pass
    print(city)

Chicago
New York
Los Angeles

In [57]:
def my_func():
    pass

##### Nested/Double For Loops

In [58]:
my_list = [1,2,3]

for i in my_list:
    for j in my_list:
        print(f"{i}, j = {j}")

1, j = 1
1, j = 2
1, j = 3
2, j = 1
2, j = 2
2, j = 3
3, j = 1
3, j = 2
3, j = 3

### While Loops

In [59]:
# while <conditional>:
#     <statement to run while condition is true>

my_string = 'Hello my name is Brian'

for letter in my_string:
    print(letter)

H
e
l
l
o

m
y

n
a
m
e

i
s

B
r
i
a
n

In [60]:
num = 0

while num < 10:
    print(num)
    num += 1

0
1
2
3
4
5
6
7
8
9

##### Looping 'While True'

In [61]:
while True:
    print('Infinite loop')
    break

Infinite loop

In [62]:
countries = ['USA', 'Canada', 'Mexico', 'Jamaica', 'Jamaica', 'Jamaica']

print(countries)

while 'Jamaica' in countries:
    countries.remove('Jamaica')

print(countries)

['USA', 'Canada', 'Mexico', 'Jamaica', 'Jamaica', 'Jamaica']
['USA', 'Canada', 'Mexico']

### Built-In Functions

##### help()

In [63]:
# Use this function to view more info about a python function (With a DOCSTRING)
help(help)

Help on _Helper in module _sitebuiltins object:

class _Helper(builtins.object)
 |  Define the builtin 'help'.
 |
 |  This is a wrapper around pydoc.help that provides a helpful message
 |  when 'help' is typed at the Python interactive prompt.
 |
 |  Calling help() at the Python prompt starts an interactive help session.
 |  Calling help(thing) prints help for the python object 'thing'.
 |
 |  Methods defined here:
 |
 |  __call__(self, *args, **kwds)
 |      Call self as a function.
 |
 |  __repr__(self)
 |      Return repr(self).
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors defined here:
 |
 |  __dict__
 |      dictionary for instance variables (if defined)
 |
 |  __weakref__
 |      list of weak references to the object (if defined)

##### input()

In [64]:
# input(question) => ALWAYS RETURNS A STRING

answer = input("What is the answer to this prompt?")
print(answer)

What is the answer to this prompt?10
10

In [65]:
age = input("How old are you?")

age_in_five = int(age) + 5 

print(age_in_five)

How old are you?12
17

In [66]:
required_age = 18
with_a_parent = 14

movie_goer = int(input("How old are you? Use digits ie. 10, 15, ect"))

if movie_goer >= required_age:
    print("Enjoy the film!")
elif movie_goer >= with_a_parent:
    print("You must be accompanied by an adult to see this movie")
else:
    print("You are not old enough to see this film.")

How old are you? Use digits ie. 10, 15, ect12
You are not old enough to see this film.

##### range()

In [75]:
#Start, Stop, Step


list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

##### len()

In [77]:
# check Length of variable

name = 'Brian'

length_of_name = len(name)
print(length_of_name)

5

In [79]:
print(len(cities))

3

In [81]:
my_list = ['a', 'b', 'c', 'd', 'e']

# print(len(my_list))

for i in range(len(my_list)):
    print(i)

0
1
2
3
4

##### isinstance()

In [83]:
# Check a variable to find out what Object family it belongs to
# isinstace(var, type)

print(isinstance(5.12, float))

if isinstance("hello", str):
    print("That was a string")

True
That was a string

### Try and Except

In [87]:
# use whenever you expect to encounter a bug so that the error doesn't cause the program to stop
# Use so that you can log out graceful and useful error messages

number_to_guess = 14

user_input = int(input("What number would you like to guess? "))

while user_input != number_to_guess:
    user_input = int(input("That is incorrect. Please guess again. "))
    
print("Congrats!")

What number would you like to guess? 10
That is incorrect. Please guess again. 14
Congrats!

In [100]:
number_to_guess = 14

user_input = int(input("What number would you like to guess? "))

while user_input != number_to_guess:
    try:
        user_input = int(input("Please make a guess of the number "))
    except ValueError as error:
        print("That is not a valid input", error)
    except:
        print("Something else went wrong")
  
    
print("Congrats!")

What number would you like to guess? 10
Please make a guess of the number df
That is not a valid input invalid literal for int() with base 10: 'df'
Please make a guess of the number 14
Congrats!

##### Looping Through Lists

In [106]:
# two ways to loop through a list, using range for index and in for values

# Loop with a for loop (By Index)
cities = ["New York", "Los Angeles", "Chicago", "Pheonix"]

for c in cities:
    print(c)
    
# Loop with a for loop (Using the 'in' keyword)
for i in range(len(cities)):
    print(i, cities[i])

New York
Los Angeles
Chicago
Pheonix
0 New York
1 Los Angeles
2 Chicago
3 Pheonix

## Exercise #1 <br>
<p>Cube Number Test... Print out all cubed numbers up to the total value 1000. Meaning that if the cubed number is over 1000 break the loop.</p>

In [138]:
my_list = []

# defining variables 
num = 0
cubed = 0 

while cubed < 1000:           # If cubed number is over 1000, break the loop
    num += 1                  # number to be cubed 
    
    cubed = num**3            # cubed number
    my_list.append(cubed)     # Adding cubed value to my_list 

print(my_list)
    
    
# Could also be done using range but doesn't technically "break"
# cubed_list = []
# for number in range(1,11):
#     cube = number**3
#     cubed_list.append(cube)
    
# print(cubed_list)

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]
[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

## Exercise #2 <br>
<p>Get first prime numbers up to 100</p>

In [125]:
# HINT::
# An else after an if runs if the if didnt
# An else after a for runs if the for didnt break

prime_list = []

# Creating range 1-100 and grabbing looping through values within the range
for Number in range (1, 101):
    
    # Count to keep track - resets each loop
    count = 0
    
    # checking divisibility from 2 to number value (ie. checking to see if 5 is divisible by any number between 2 and 4)
    for i in range(2, Number):
   
        # Iterates through each value in range 
        if(Number % i == 0):         # If there are no remainders, the value is not prime. Adds to count and ends loop. 
            count = count + 1        # If there are remainders, loops through count until reaching Number.
            break
            
            #Does not append to list in next loop since count !=0

    # Is a prime number
    if (count == 0 and Number != 1):
        prime_list.append(Number)
        
print(prime_list)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]

# Exercise 3 <br>
<p>Take in a users input for their age, if they are younger than 18 print kids, if they're 18 to 65 print adults, else print seniors</p>

In [137]:
def age(user_age):
    if user_age < 18:          # Kid
        print("Kid")
    elif user_age >= 65:       # Senior
        print("Senior")
    else:                      # Adult
        print("Adult")
    
age(17)
age(18)
age(65)

Kid
Adult
Senior